html
  head
    title="AmiDraw Gallery"
    link(rel='stylesheet', href='/gallery.css')
  body
    div(class='gallery-body')
      each image in gallery_items
        -
          var iTitle = image.title
          var path = image.imgpath
          var author = image.username
          var id = image.id
        div(class='gallery-item')
          h1=iTitle
          h4!='by ' + author
          a(href!='gallery/' + id): img(src=path class='gallery-img')