html
  head
    title=title
    link(rel='stylesheet', href='/gallery.css')
  body
    -
        var iTitle = data.title
        var creator = data.username
        var imgpath = data.imgpath
        var desc = data.description
    h1!=iTitle + ' by ' + creator
    br
    p=desc
    hr
    img(src=imgpath class='gallery-img-fullsize')