html
  head
    title="AmiDraw Gallery"
    link(rel='stylesheet', href='/style.css')
    style(type="text/css").
      #gallery-link {
        color: #50cfbb;
      }
  body
    include navbar.pug
    div(class='gallery-body')
      each image in gallery_items
        -
          var iTitle = image.title
          var path = image.imgpath
          var author = image.username
          var id = image.id
        div(class='gallery-item')
          div(class='meta')
            h1(class='title')=iTitle
            h4(class='title')!=author
          a(href!='https://amidraw.com/gallery/'+id): img(src=path)