html
  head
    title='Login'
    link(rel='stylesheet' href='/login.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(class='centered')
    div(id='container' class='centered')
      h1='Log In'
      form(id='register' method='POST' action='/login')
        input(placeholder='Email' id='email' name='email' type='text')
        br
        input(placeholder='Password' id='password' name='password' type='password')
        br
        input(value="Login" type='submit' class="button bg-blue")
      div Need an account?
        br
        a(href='https://amidraw.com/register')
          span Register

    div(id='background')
      div(class='background-stripe bg-red') &nbsp;
      div(class='background-stripe bg-yellow') &nbsp;
      div(class='background-stripe bg-blue') &nbsp;