nav
  img(src='https://amidraw.com/logo.png')
  span AmiDraw
  a(href='https://amidraw.com/draw' id='draw-link') Draw
  a(href='https://amidraw.com/gallery' id='gallery-link') Gallery
  div(id='justify-right')
    a(href='#' id='register-link') Register
    a(href='#' id='login-link') Log In