nav
  a(href='https://amidraw.com/draw' id='nav-main')
    img(src='https://amidraw.com/logo.png')
    span AmiDraw
  a(href='https://amidraw.com/draw' id='nav-draw') Draw
  a(href='https://amidraw.com/gallery' id='nav-gallery') Gallery
  div(id='justify-right')
    a(href='#' id='nav-register') Register
    a(href='#' id='nav-login') Log In