html
  head
    title="Register"
    link(rel='stylesheet', href='/login.css')
  body
    div(class='container')
      h1="Register"
      form(method='POST' action='/register')
        input(placeholder='Username' type='text' name='username')
        br
        input(placeholder='Password' type='password' name='password')
        br
        button(type='submit') Register
      a(href='https://amidraw.com/login') Already have an account? Log in