@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: #191919;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 8em;
    font-weight: 100;
    display: inline-block;
}

img {
    padding: .5em;
    height: 15em;
    width: 15em;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}